*.cm*
*.dat
*.gz
*.la
*.lo
*.mat
*.o
*.s
*.wav
.depend
.deps
.libs
Cfg
Hack
Images
M4/libtool.m4
M4/ltoptions.m4
M4/ltsugar.m4
M4/ltversion.m4
M4/lt~obsolete.m4
Makefile
Makefile.in
Octave/*.h
Octave/make_quad_filter
Octave/make_src_filter
Win32/Makefile.mingw
aclocal.m4
autom4te.cache
compile
config.*
configure
depcomp
doc/ChangeLog
doc/NEWS
examples/sndfile-resample
examples/timewarp-file
examples/varispeed-play
install-sh
libsamplerate.spec
libtool
localinstall.py
ltmain.sh
missing
samplerate.pc
src/Version_script
src/config.h
src/config.h.in
stamp-h1
tests/*_test
tests/benchmark
tests/src-evaluate
