# *.cm* # This line is broken it matches all files.
*.dat
*.gz
*.la
*.lo
*.mat
*.o
*.s
*.wav
.depend
.deps
.libs
build-aux/
Hack
Images
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile
Makefile.in
Octave/*.h
Octave/make_quad_filter
Octave/make_src_filter
Win32/Makefile.mingw
aclocal.m4
autom4te.cache
libsamplerate-*.tar.bz2
compile
config.*
!/config.h.in
configure
depcomp
doc/ChangeLog
doc/NEWS
examples/timewarp-file
examples/varispeed-play
install-sh
libsamplerate.spec
libtool
localinstall.py
ltmain.sh
missing
samplerate.pc
src/Version_script
src/config.h
src/config.h.in
stamp-h1
.dirstamp
tests/*_test
tests/benchmark
tests/src-evaluate
*.log
*.trs
build/
